@media(max-width: 700px){

    html{
        font-size: 14px; 
    }

    .container{
        width: 100%;
        border:  1px dashed deeppink;
    }

    pre{
        font-family: 'Kanit';
        font-size: 14px; 
    }
    
    h1{
        font-size: 22px;
        margin: 0;
    }
    
    h2{
        font-size: 16px;
        margin: 0;
    }
    
    h3{
        font-size: 14px;
        margin: 0;
    }    

/*----------------- header ----------------- */

    header .container{
        width: 80%;
    }

    header i{
        font-size: 16px;
    }

/*----------------- body section banner ----------------- */


    .banner .container button{
        font-size: 14px;
    }

/*----------------- body section info ----------------- */
    .info .container{
        min-height: 200vh;

    }


    .info .boxes{ 
   
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
   
    }


    .info .boxes div{
        max-width: 100%;
        border-radius:0px;
       
    }

    .info .boxes .imginfo{
        width: 150px;
       
    }
    
    
    .info .boxes .imgNum{
        width: 10%;
       
    }

    /*----------------- body section review ----------------- */
.review{
    background-position:center;
}

.review .container{
    width: 80%;
}

.review .said{
    width: 80%;

}

.review i1{
    font-size: 30px;
}

.review i2{
    font-size: 30px;
}


/*----------------- body section service ----------------- */


.service a{
    max-width: 100%;
    width: 100%;

}

.service .container div{
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    width: 100%;
}


.service .fixLight,
.service .fixWater,
.service .fixMaid,
.service .fixBug {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-position:center;
    width: 100%;
}

footer p {
    font-size: 10px;
}













}